# Coursera Capstone Project - Battle of the Neighborhoods
**Author:** Charles Albert Jester III  
**Date Updated:** 6/1/2020

## 1.	Introduction
### 1.1	Background

When visiting or moving to a new city there can be difficulties when trying to choose or discover restaurants, stores and other local venues to explore in the neighborhoods. This can be daunting for both a user and business perspective when venturing forth into new territory.

When exploring new neighborhoods, there is a difficult task of analyzing various forms of criteria that can drastic impact your decision making. Such factors include, distance, price tier, ratings, photos and tips which is a lot of criteria too look through. 

The Philadelphia area has many universities and colleges make it a top study destination, as the city has evolved into an educational and economic hub, with an estimated gross metropolitan product of $490 billion in 2019. This makes the twelve neighborhoods of Philadelphia a hot spot for new residents, travelers and businesses. The twelve neighborhoods of Philadelphia are Center City, South Philadelphia, Southwest Philadelphia, West Philadelphia, Lower North Philadelphia, Upper North Philadelphia, Bridesburg-Kensington-Port Richmond, Roxborough-Manayunk, Germantown-Chestnut Hill, Olney-Oak Lane, Near Northeast Philadelphia and Far Northeast Philadelphia.

Toronto is an international center for business, finance, arts and culture in the provincial capital of Ontario. Toronto is also an education and economic hub with diversified strengths in technology, design, food services, education and many more. This makes the six neighborhoods a hot spot for new residents, travelers and businesses much like Philadelphia. The six neighborhoods that make up Toronto are Old City of Toronto, East York, Etobicoke, Scarborough, York and North York.

### 1.2 Problem
With the utilization of Foursquare venue data we can utilize this to explore and compare the city of Philadelphia and Toronto. This project will focus on how this data can be used to find new insights required for business opportunities in certain neighborhoods, cluster and segment venues to provide for a better user experience. We can then also compare and distinguish which city venues are better.

By segmenting and clustering venues based on our Foursquare venue data, we can compare and distinguish venue similarities to observe which neighborhoods would be good business ventures. Also, we will utilize factors such as user likes, ratings, tips, photos and distance to venues to seek if there are correlations that exist.

### 1.3 Interest
Interested parties might include business start-ups, stakeholders, and existing owners. Business start-ups might be looking for areas that lack certain categorical venues to further enhance a neighborhoods overall experience. Stakeholders would also be interested in this and also as a means to see how their invested interests are performing as a whole comparatively within city neighborhoods and to another city. Existing business will also benefit to see how the venues likes, tips and photos will bring effectiveness on their price tie and ratings.

## 2. Data Acquisition and Cleaning
### 2.1 Data Sources

Our two primary sources of data will be location information provided from data scrapped from Wikipedia on the neighborhood information for Philadelphia and Toronto plugged into python’s geocoder library. Foursquare will provide our venue details to help explore, segment and analyze the neighborhoods of Philadelphia and Toronto. Below are the links of the Wikipedia sources for location data that was utilized in conjunction with Python’s geocoder:

Philadelphia: https://en.wikipedia.org/wiki/List_of_Philadelphia_neighborhoods

Toronto:  https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

## 2.2 Data cleaning

### Loading libraries to extract, explore, segment and cluster information about neighborhoods in Philadelphia and  Toronto.

In [213]:
import numpy as np #Library required for vectorized data handling
import pandas as pd #Library required for data analysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json #Library required to handle JSON files

from bs4 import BeautifulSoup #utilized for web scraping data

#!conda install -c conda-forge geopy=1.49.0 --yes # uncomment this line if you haven't installed the following library for python
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

#!conda install -c conda-forge geocoder --yes
import geocoder

import requests # library to handle requests
import urllib.request

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't installed the following library for python
import folium # map rendering library

print('All libraries are imported!')

All libraries are imported!

**Obtain and visualize the underlying HTML code within our webpage**

In [214]:
#Here we establish the URL that gives us the pertinent information on the Neighborhoods an 
urlT = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
urlP = 'https://en.wikipedia.org/wiki/List_of_Philadelphia_neighborhoods'

pageT = urllib.request.urlopen(urlT)
pageP = urllib.request.urlopen(urlP)

#parse the HTML data into the BeautifulSoup parse tree format and visualize using prettify
soupT = BeautifulSoup(pageT, "html.parser")
soupP = BeautifulSoup(pageP, "html.parser")


#print(soupT.prettify())
#print(soupP.prettify())

**Extract the borough and neigborhood information from our underlying HTML code that contains the data important to us for both Toronto and Philadelphia**

In [215]:
#Established the specific table we are looking for within the parsed html for our web page
tablesT = soupT.find("table", class_='wikitable sortable')
tablesP = soupP.findAll("a")
#tablesT
#tablesP

## **Now that we have the raw html output, let's begin cleaning the Philadelphia & Toronto data.**

**Cleaning Philadelphia Scraped Data**

In [216]:
#Here we grab the majority of the information that is required, plus a bit of excess. Unfortunately this was the cleanest data I could find on Philadelphia.
PNL = []
for row in soupP.findAll("a"):
    PNL.append(row.get('title'))
    
#print(PNL)

In [217]:
#Here we take a rough outline and filter out the data that is not needed.
dfPRough = pd.DataFrame(PNL, columns=['Neighborhood'])
dfPRough = dfPRough.dropna()
dfPRough = dfPRough.reset_index(drop=True)
dfPRough = dfPRough[8:238]
l2drop=['SEPTA', 'Delaware River', 'Schuylkill River', 'Media/Elwyn Line', 'Semi-detached house', 'Bucks County', 'American Middle class', 'Whites', 'White flight', 'Hispanic and Latino Americans', 'African American', 'Asian American', 'Irish-American',  'Enlarge']
dfPR = dfPRough[~dfPRough.Neighborhood.isin(l2drop)]

In [218]:
#These are to clean up the values for the neighborhoods in the cells so that don't contain redundant values
dfPRtemp = dfPR['Neighborhood'].str.replace('\(page does not exist\)','')
dfPRtemp = dfPRtemp.str.replace('(', "")
dfPRtemp = dfPRtemp.str.replace(')', "")
dfPRtemp = dfPRtemp.str.replace(', Philadelphia, Pennsylvania', "")
dfPRtemp = dfPRtemp.str.replace(', Philadelphia', "")
dfPRtemp = dfPRtemp.str.replace(', PA', "")
dfPRTemp = dfPRtemp.str.replace(', Pennsylvania', "")
dfPR = dfPRtemp.to_frame()

In [219]:
#We sort through finding our boroughs through the use of the Edit Section flag that was leftover. Removing the string
#to set as our borough variable. This will set up our dataframe for finalization
PB = []
PN = []

for row in dfPR['Neighborhood']:
    if "Edit" in row:
        borough = row.replace('Edit section: ', '')
        PB.append(borough)
        PN.append(None)
    else:
        PB.append(borough)
        PN.append(row)

In [220]:
#Finally this gets rid of any None values and ensures that the Borough is not defined as a neighborhood as well.
dfPNe=pd.DataFrame(PB,columns=['Borough'])
dfPNe['Neighborhood'] = PN
dfPNe.dropna(inplace=True)
borP = dfPNe['Borough'].unique()
dfPNe = dfPNe[~dfPNe.Neighborhood.isin(borP)]
dfPNe.head()

       Borough                     Neighborhood
2  Center City  Avenue of the Arts Philadelphia
3  Center City                       Callowhill
4  Center City                        Chinatown
5  Center City                  Elfreth's Alley
6  Center City                   French Quarter

In [221]:
#Here we observe how many neighborhoods make up each borough and their overall percent of makeup 
#for Philadelphia as a whole.
stnP = dfPNe.Borough
countsP = stnP.value_counts(ascending=False)
percent100P = stnP.value_counts(normalize=True).mul(100).round(2).astype(str) + '%'
tn_summaryP=pd.DataFrame({'Neighborhood': countsP, '%-overall': percent100P})
tn_summaryP

                                     Neighborhood %-overall
South Philadelphia                             29    16.02%
West Philadelphia                              29    16.02%
Center City                                    21     11.6%
Near Northeast Philadelphia                    19     10.5%
Far Northeast Philadelphia                     16     8.84%
Southwest Philadelphia                         15     8.29%
Lower North Philadelphia                       12     6.63%
Germantown-Chestnut Hill                       11     6.08%
Olney-Oak Lane                                 11     6.08%
Upper North Philadelphia                        6     3.31%
Bridesburg-Kensington-Port Richmond             6     3.31%
Roxborough-Manayunk                             6     3.31%

In [222]:
dfP = pd.DataFrame(borP, columns=['Borough'])
dfP

                                Borough
0                           Center City
1                    South Philadelphia
2                Southwest Philadelphia
3                     West Philadelphia
4              Lower North Philadelphia
5              Upper North Philadelphia
6   Bridesburg-Kensington-Port Richmond
7                   Roxborough-Manayunk
8              Germantown-Chestnut Hill
9                        Olney-Oak Lane
10          Near Northeast Philadelphia
11           Far Northeast Philadelphia

**Cleaning Toronto Scraped data**

In [223]:
#We define 3 empty list to be established with our 3 columns from our web page
#these columns are Postal Code, Borough and Neighbourhood.

A=[]
B=[]
C=[]

#Creates a loop to find all rows that begin with <tr> and contain at least 3 columns. If both
#stipulations are met we extract the text values within <td> for each element in that row and
#append them to our lists.
for row in tablesT.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True).replace("\n",""))
        B.append(cells[1].find(text=True).replace("\n",""))
        C.append(cells[2].find(text=True).replace("\n",""))

In [224]:
#Here we simply define the column headers and apply their respective lists to fill the value below
dfTNe=pd.DataFrame(A,columns=['Postal Code'])
dfTNe['Borough']=B
dfTNe['Neighborhood']=C

#Finally we exclude any Borough that has a value of 'Not assigned'
dfTNe.drop(dfTNe[dfTNe['Borough'] == 'Not assigned'].index, inplace=True)
dfTNe = dfTNe.reset_index(drop=True)
borT = dfTNe['Borough'].unique()
dfTNe.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [225]:
#Here we observe how many neighborhoods make up each borough and their overall percent of makeup for Toronto as a whole
stnT = dfTNe.Borough
countsT = stnT.value_counts(ascending=False)
percent100T = stnT.value_counts(normalize=True).mul(100).round(2).astype(str) + '%'
tn_summaryT=pd.DataFrame({'Neighborhood': countsT, '%-overall': percent100T})
tn_summaryT

                  Neighborhood %-overall
North York                  24     23.3%
Downtown Toronto            19    18.45%
Scarborough                 17     16.5%
Etobicoke                   12    11.65%
Central Toronto              9     8.74%
West Toronto                 6     5.83%
East York                    5     4.85%
East Toronto                 5     4.85%
York                         5     4.85%
Mississauga                  1     0.97%

In [226]:
dfT = pd.DataFrame(borT, columns=['Borough'])
dfT

            Borough
0        North York
1  Downtown Toronto
2         Etobicoke
3       Scarborough
4         East York
5              York
6      East Toronto
7      West Toronto
8   Central Toronto
9       Mississauga

**Create and Clean the dataframe to best suit our needs**

**Now that the Philadelphia data has been compiled we shall compile the Toronto data as well.**

**Here I set up the neighborhoods to be search through geocoder to find the latitude and longtiude coordinates for each respective neighborhood.**

In [227]:
#Repeat a similar process to extracting our data from wikipedia for utilizing
#geocoder to generate latitude and longitude coordinates from the postal codes.

DT=[]
ET=[]
for bor in dfT['Borough']:
    g = geocoder.arcgis('{}, Toronto, Ontario'.format(bor))
    lat_lng_coords = g.latlng
    
    lat = lat_lng_coords[0]
    lng = lat_lng_coords[1]
    DT.append(lat)
    ET.append(lng)

#output the list of corresponding latitude and longitude to new columns in the dataframe.
dfT['Latitude']=DT
dfT['Longitude']=ET
dfT

            Borough   Latitude  Longitude
0        North York  43.768260 -79.412630
1  Downtown Toronto  43.658200 -79.368320
2         Etobicoke  43.644360 -79.567130
3       Scarborough  43.772200 -79.256660
4         East York  43.691800 -79.327030
5              York  43.692080 -79.478630
6      East Toronto  43.659030 -79.349010
7      West Toronto  43.664712 -79.346346
8   Central Toronto  43.609727 -79.492844
9       Mississauga  43.587260 -79.644940

In [228]:
#Repeat a similar process to extracting our data from wikipedia for utilizing
#geocoder to generate latitude and longitude coordinates from borough information.

DP=[]
EP=[]
for bor in zip(dfP['Borough']):
    g = geocoder.arcgis('{}, Philadelphia, Pennsylvania'.format(bor))
    lat_lng_coords = g.latlng
    
    lat = lat_lng_coords[0]
    lng = lat_lng_coords[1]
    DP.append(lat)
    EP.append(lng)
    
#output the list of corresponding latitude and longitude to new columns in the dataframe.
dfP['Latitude']=DP
dfP['Longitude']=EP
dfP

                                Borough   Latitude  Longitude
0                           Center City  39.952544 -75.165219
1                    South Philadelphia  39.964110 -75.161050
2                Southwest Philadelphia  39.910040 -75.186370
3                     West Philadelphia  40.053132 -75.028511
4              Lower North Philadelphia  39.964158 -75.198802
5              Upper North Philadelphia  40.059110 -75.052180
6   Bridesburg-Kensington-Port Richmond  39.980900 -75.099600
7                   Roxborough-Manayunk  40.037990 -75.223080
8              Germantown-Chestnut Hill  40.078489 -75.211934
9                        Olney-Oak Lane  40.041130 -75.124050
10          Near Northeast Philadelphia  40.092800 -74.987030
11           Far Northeast Philadelphia  40.092800 -74.987030

**Here I now add the top 25 venues from each neighborhood**

In [265]:
import os

CLIENT_ID =  os.environ.get("CLIENT_ID")# your Foursquare ID
CLIENT_SECRET =  os.environ.get("CLIENT_SECRET") # your Foursquare Secret
VERSION = '20180605' # Foursquare API version
ACCESS_TOKEN = os.environ.get("ACCESS_TOKEN")

print('Your credentails:')
print('CLIENT_ID: Are contained within your conda environment variables!' )
print('CLIENT_SECRET: Are contained within your conda environment variables!')

Your credentails:
CLIENT_ID: Are contained within your conda environment variables!
CLIENT_SECRET: Are contained within your conda environment variables!

In [230]:
limit=25

def getNearbyVenues(names, latitude, longitude, radius = 500) :
    venues_list = []
    
    for name, lat, long in zip(names, latitude, longitude):
        print(name)
        
        #Generate the API request url
        url='https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&oauth_token={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID,
            CLIENT_SECRET,
            ACCESS_TOKEN,
            VERSION,
            lat,
            long,
            radius,
            limit)
        
        #Make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        #return only relevant information on nearby venues
        venues_list.append([(
            name,
            lat,
            long,
            v['venue']['name'],
            v['venue']['id'],
            v['venue']['location']['distance'],
            v['venue']['location']['lat'],
            v['venue']['location']['lng'],
            v['venue']['categories'][0]['name']) for v in results])
        
    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue ID',
                  'Distance',
                  'Venue Latitude', 
                  'Venue Longitude',
                  'Venue Category']
    return(nearby_venues)

In [231]:
toronto_venues = getNearbyVenues(names=dfT['Borough'],
                                latitude=dfT['Latitude'],
                                longitude=dfT['Longitude']
                                )

North York
Downtown Toronto
Etobicoke
Scarborough
East York
York
East Toronto
West Toronto
Central Toronto
Mississauga

In [242]:
toronto_venues.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue ID,Distance,Venue Latitude,Venue Longitude,Venue Category
0,North York,43.76826,-79.41263,The Keg,5a35b4443abcaf37eb1a0d88,191,43.766579,-79.412131,Steakhouse
1,North York,43.76826,-79.41263,Konjiki Ramen,5a02789d0a464d3112a58785,144,43.766998,-79.412222,Ramen Restaurant
2,North York,43.76826,-79.41263,Toronto Centre for the Arts,4ad4c062f964a520c3f720e3,255,43.766228,-79.414115,Theater
3,North York,43.76826,-79.41263,Loblaws,4ae257cff964a520758d21e3,66,43.768722,-79.412101,Grocery Store
4,North York,43.76826,-79.41263,Satay Sate,57f92db0498ee70159702002,179,43.766690,-79.412100,Indonesian Restaurant

In [233]:
toronto_venues.to_csv('toronto_venues.csv', index=False)

In [234]:
tDataVen = pd.read_csv('toronto_venues.csv')
tDataVen.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue ID,Distance,Venue Latitude,Venue Longitude,Venue Category
0,North York,43.76826,-79.41263,The Keg,5a35b4443abcaf37eb1a0d88,191,43.766579,-79.412131,Steakhouse
1,North York,43.76826,-79.41263,Konjiki Ramen,5a02789d0a464d3112a58785,144,43.766998,-79.412222,Ramen Restaurant
2,North York,43.76826,-79.41263,Toronto Centre for the Arts,4ad4c062f964a520c3f720e3,255,43.766228,-79.414115,Theater
3,North York,43.76826,-79.41263,Loblaws,4ae257cff964a520758d21e3,66,43.768722,-79.412101,Grocery Store
4,North York,43.76826,-79.41263,Satay Sate,57f92db0498ee70159702002,179,43.766690,-79.412100,Indonesian Restaurant

In [235]:
tDataVen.shape

(180, 9)

In [236]:
philadelphia_venues = getNearbyVenues(names=dfP['Borough'],
                                latitude=dfP['Latitude'],
                                longitude=dfP['Longitude']
                                )

Center City
South Philadelphia
Southwest Philadelphia
West Philadelphia
Lower North Philadelphia
Upper North Philadelphia
Bridesburg-Kensington-Port Richmond
Roxborough-Manayunk
Germantown-Chestnut Hill
Olney-Oak Lane
Near Northeast Philadelphia
Far Northeast Philadelphia

In [243]:
philadelphia_venues.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue ID,Distance,Venue Latitude,Venue Longitude,Venue Category
0,Center City,39.952544,-75.165219,Dilworth Park,4bde0d566198c9b6c5cc12ff,49,39.952772,-75.164723,Park
1,Center City,39.952544,-75.165219,Philadelphia Film Center,47bdd66df964a520da4d1fe3,195,39.950835,-75.164683,Movie Theater
2,Center City,39.952544,-75.165219,City Hall Courtyard,4f29e8e3e4b02f0aff55b2a7,138,39.952484,-75.163592,Plaza
3,Center City,39.952544,-75.165219,Del Frisco's Double Eagle Steak House,4ab2ac0bf964a520d66b20e3,177,39.950956,-75.165459,Steakhouse
4,Center City,39.952544,-75.165219,"The Ritz-Carlton, Philadelphia",4a68db6ff964a52023cb1fe3,152,39.951446,-75.164149,Hotel

In [238]:
philadelphia_venues.to_csv("philly_venues.csv", index=False)

In [239]:
pDataVen = pd.read_csv('philly_venues.csv')
pDataVen.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue ID,Distance,Venue Latitude,Venue Longitude,Venue Category
0,Center City,39.952543,-75.165219,Dilworth Park,4bde0d566198c9b6c5cc12ff,49,39.952772,-75.164723,Park
1,Center City,39.952543,-75.165219,Philadelphia Film Center,47bdd66df964a520da4d1fe3,195,39.950835,-75.164683,Movie Theater
2,Center City,39.952543,-75.165219,City Hall Courtyard,4f29e8e3e4b02f0aff55b2a7,138,39.952484,-75.163592,Plaza
3,Center City,39.952543,-75.165219,Del Frisco's Double Eagle Steak House,4ab2ac0bf964a520d66b20e3,177,39.950956,-75.165459,Steakhouse
4,Center City,39.952543,-75.165219,"The Ritz-Carlton, Philadelphia",4a68db6ff964a52023cb1fe3,152,39.951446,-75.164149,Hotel

In [240]:
pDataVen.shape

(268, 9)

## Now that the location information is compiled,  we must work on adding in the details of our venues. Let's create a function.

In [253]:
#here we define the getVenuesDetails function to find information regarding ratings, likes counts, pic counts,
#tips counts and reasons count
def getVenuesDetails(names, vIDs) :
    dfname=[]
    dflc=[]
    dfra=[]
    dfpc=[]
    dfrc=[]
    dftc=[]
    
    #Utilizes a for loop to grab details of each venue 
    for name, vID in zip(names, vIDs):
       
        print(name)
        
        #Generate the API request url
        url='https://api.foursquare.com/v2/venues/{}?&client_id={}&client_secret={}&oauth_token={}&v={}'.format(
            vID,
            CLIENT_ID,
            CLIENT_SECRET,
            ACCESS_TOKEN,
            VERSION)
        
        #Make the GET request
        results = requests.get(url).json()["response"]['venue']
        
        #Ensures the venue name is included in the output
        dfname.append(name)
        
        #return only relevant information on venues, if that information results in a KeyError
        #return a Null to the output to make cleaning easier
        try:
            dflc.append(results['likes']['count'])
        except KeyError:
            dflc.append('Null')
            pass
        try:
            dfra.append(results['rating'])
        except KeyError:
            dfra.append('Null')
            pass
        try:
            dfpc.append(results['photos']['count'])
        except KeyError:
            dfpc.append('Null')
            pass
        try: 
            dfrc.append(results['reasons']['count'])
        except KeyError:
            dfrc.append('Null')
            pass
        try:
            dftc.append(results['tips']['count'])
        except KeyError:
            dftc.append('Null')
            pass
        
        #Pass data extracted from the json information into a new dataframe with the approriate column headers.
        test = list(zip(dfname,dflc,dfra,dfpc,dfrc,dftc))
        dfFinal = pd.DataFrame(test, columns=['Venue',
                                              'like_counts', 
                                              'rating', 
                                              'photo_count', 
                                              'reasons_count', 
                                              'tips_count'])
  
   

    return(dfFinal)

## Testing function and post-query merged data
**NOTE: Testing on small sub-sample to ensure the premium calls are working appropriately. Otherwise, it can easily surpass the 500 daily call limit on your Foursquare account.**

In [254]:
#Here I'm creating a simple dataframe to test my function on prior to calling it on all of our data.
#I devised this as I'm using premium calls for the venue ratings, picture counts, tip counts and so on.
l = ['Dilworth Park', 'SEPTA BS', 'Philadelphia Film Center']
v = ['4bde0d566198c9b6c5cc12ff', '4b2c4178f964a520b3c424e3', '47bdd66df964a520da4d1fe3']

#Constructs a small dataframe for testing, using output with known "Null" results
dfl = pd.DataFrame(l, columns=['Name'])
dfl['vID']=v

#
dfl

                       Name                       vID
0             Dilworth Park  4bde0d566198c9b6c5cc12ff
1                  SEPTA BS  4b2c4178f964a520b3c424e3
2  Philadelphia Film Center  47bdd66df964a520da4d1fe3

In [255]:
#Run the above dataframe set with our function
venueTest = getVenuesDetails(names=dfl['Name'], vIDs=dfl['vID'])

Dilworth Park
SEPTA BS
Philadelphia Film Center

In [256]:
#observe the output
venueTest

,Venue,like_counts,rating,photo_count,reasons_count,tips_count
0,Dilworth Park,311,9.1,668,1,23
1,SEPTA BS,7,Null,22,0,4
2,Philadelphia Film Center,88,8.9,177,1,20

In [260]:
#Here we run an innermerge which will remove any venue where the 'rating' resulted in 'Null'
#This gives us our example output and proves to us the function is working properly.
mergedPtest = pDataVen.merge(venueTest, how = 'inner', on = ['Venue'])
mergedPtest

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue ID,Distance,Venue Latitude,Venue Longitude,Venue Category,like_counts,rating,photo_count,reasons_count,tips_count
0,Center City,39.952543,-75.165219,Dilworth Park,4bde0d566198c9b6c5cc12ff,49,39.952772,-75.164723,Park,311,9.1,668,1,23
1,Center City,39.952543,-75.165219,Philadelphia Film Center,47bdd66df964a520da4d1fe3,195,39.950835,-75.164683,Movie Theater,88,8.9,177,1,20

## Finalizing our dataset by merging our information together for each city.

In [262]:
#first lets start with toronto as it has a smaller number of venues overall, just incase we run into any problems
#we can still potentially not reach our quota for the day.
venueDetails_toronto = getVenuesDetails(names=toronto_venues['Venue'],
                                       vIDs=toronto_venues['Venue ID'])

The Keg
Konjiki Ramen
Toronto Centre for the Arts
Loblaws
Satay Sate
Saryo
Mel Lastman Square
Starbucks
Cineplex Cinemas
Aroma Espresso Bar
Michaels
Dairy Queen
Empress Walk
Sushi Moto Sake & Wine Bar
Booster Juice
Pizzaiolo
Baton Rouge
Douglas Snow Aquatic Centre
Aura
Wako Sushi + Bar
MYMY Chicken
Bake Code 烘焙密碼
Gol
Symposium Cafe Restaurant & Lounge
Sukhothai
I Love Churros
Ontario Restaurant
Schnitzel Queen
Figs Breakfast & Lunch
King's Place647-352-0786
Berkeley Church
The Yoga Lounge
FAMO Sandwiches
Smoke's Poutinerie
Paintbox Bistro
The Beer Store
It's Jenny Café
Souvlaki Express
Moss Park Arena
Tim Hortons
Farmer's Market Etobicoke
Burnhamthorpe and The West Mall
Livingston International
W.E. Kitchen
West Mall Rink
Quiznos
ARA Electrical Contractors & Consultants Inc
Sunglass Hut
Rabba
Delimark Cafe
Four Seasons Place
Broadacres Park
Bâton Rouge Steakhouse & Bar
St. Andrews Fish & Chips
Disney Store
Shoppers Drug Mart
SEPHORA
St. Louis Bar & Grill
DAVIDsTEA
American Eagle Outfitters
Hot Topic
Tommy Hilfiger
Chipotle Mexican Grill
Coliseum Scarborough Cinemas
Tim Hortons
Jimmy The Greek
lululemon athletica
Scarborough Town Centre
GAP
Subway
Moxie's Classic Grill
FreshCo
Petro-Canada
YMCA
Subway
SportChek
Tim Hortons
AllStar Wings & Ribs
East York Farmers' Market
Last Drop Cafe
Lickadee Split
Subway
Apple cafe
Cosburn Park Lawn Bowling Club
Les Anthony Parkette
Tim Hortons
Panzerotto Pizza
Jump 6
Subway
Variety And Video
Dollar Tree
Timothy's World Coffee
El Nahual
LD Hardwood Flooring
Z Bar & Grille
The Broadview Hotel
White Lily Diner
Quad East
Boxcar Social
La Carnita
Tabule
Chez Nous
Rooftop At Broadview Hotel
Ruby WatchCo.
I’ll Be Seeing You
The Comrade
Eastbound Brewing Company
Royal Canadian Curling Club
Carbon Computing
Dark Horse Espresso Bar
Hi-Lo
Tertulia
The Opera House
Bonjour Brioche
Merchants of Green Coffee
St John's Bakery
Prohibition Gastrohouse
Mean Bao
The Cannonball
Sushi Bar
Batifole
Bach Yen
Hailed Coffee
Mi Mi Restaurant
Rock Oasis
Pho Que Ling
Andrea's Gerrard St. Bakery
Wong's Ice Cream + Store
Pho House
The Real Jerk Restaurant
Simon's Wok
Wynona
Ha Noi 3 Seasons
Farside
Dundas & Carlaw
Wonder Pens
Gare De L'est
Lolabar
Tung Hing Bakery
Spirit Loft Yoga
Lady Marmalade
Rose's Vietnamese Sandwiches
Dwell Gym
Norris Crescent Parkette
Mario & Selina's No Frills
TD Canada Trust
Canadiana Restaurant
7-Eleven
Miles Road End Parkette
Hasty Market
Murphy's Masonry
Lake Crescent Park
Mobilicity
chatr Mobile
President's Choice Financial ATM
Mississauga Celebration Square
Alioli Ristorante
Second Cup
Living Arts Centre
Starbucks
Moksha Square One
YMCA Mississauga
RBC Royal Bank
Kinton Ramen
Celebration Square Coliseum
Union Burger
C Cafe
Starbucks
GAP
I.D.A. - Parkside Pharmacy
Lions Farmers Market (Wednesdays)
Mississauga YMCA
PROPHIX Software Inc
T-swirl Crepe Mississauga
Skinatomy Laser Clinic
Failte Irish Pub
Town & Country 24 Hours
Old Navy
Lall Renovations & Window Coverings
Remedy'sRx - City Centre Apothecary

In [263]:
#Save the output to a csv, this is crucial so we won't have to run the above premium call again.
venueDetails_toronto.to_csv("toronto_venueDets.csv", index=False)

In [264]:
#Read the csv file back in as a dataframe to be merged with our borough dataframe.
toronto_vendets = pd.read_csv("toronto_venueDets.csv")
toronto_vendets.shape

(180, 6)

In [266]:
#Next, we will run the same query function on our philadelphia dataset
venueDetails_philadelphia = getVenuesDetails(names=philadelphia_venues['Venue'], 
                                             vIDs=philadelphia_venues['Venue ID'])

Dilworth Park
Philadelphia Film Center
City Hall Courtyard
Del Frisco's Double Eagle Steak House
The Ritz-Carlton, Philadelphia
JFK Plaza / Love Park
La Colombe Coffee Roasters
sweetgreen
Rothman Institute Ice Rink at Dilworth Park
The Wanamaker Organ
One Liberty Observation Deck
Oyster House
The Capital Grille
UNIQLO
Fogo De Chão
Mission Taqueria
HipCityVeg
Five Below
R2L
Snap Custom Pizza
Blick Art Materials
Bikram Yoga of Philadelphia
Anthony's O2 Skincare Lounge
Insomnia Cookies
City Hall Tower
Osteria
Santucci's Original Square Pizza
South Restaurant
Jimmy G's Steaks
Stockyard
John's Place
Prohibition Tap Room
Cafe Lift
performance garage
The Institute Bar
Retro Fitness - Spring Garden
Kelliann's Bar & Grill
Brandywine Pizza
Lorraine
City View Pizza
Sals Seafood
Divine Lorraine Hotel
Cvs
Retro Fitness
SUBWAY
Sakura Japanese Cuisine
Thirsty Dice
Anytime Fitness
Johnnie Bleu
Saint Stephen's Green
Dunkin'
Penrose Diner
Popi's Restaurant
Subway
APlus at Sunoco
Peking Inn
Packer Park Locksmith
Kasumi Sushi
Martial Arts Hero Factory
Girard & Belmont Truck Stop Premium Food
Catch Fitness Center
Pattison Avenue & Reserve Drive
Minuteman Press
VWC Nails
Cambridge Sound Studio
Pattison Avenue & Penrose Avenue
Pattison Avenue & South 20th Street
Penrose Hotel Philadelphia
Dunkin'
7-Eleven
Fahey Roofing Siding Doors & Windows Inc
Kerrigan Automotive
The Fresh Works of Holme Circle
Ashton Road Automotive Inc
Cerruti's Deli
Jerry Gregory - State Farm Insurance Agent
Jerry Gregory - State Farm Insurance Agent
Calamari Grill, Catering By Tony
Holme Style Pizza
Hemingway's Tavern
Holme Circle Flower Shop
The Freshworks Holme Avenue
Rita's Italian Ice & Frozen Custard
Loosen Up!
Taqueria Del Norte
North East Wellness Connection
Quality Taste Jamaican Restaurant
Redcap's Corner
FRESH DONUTS
Jollie's West
Golden Tea House
Family Dollar
Cricket Wireless Authorized Retailer
Balance of Life Massage Therapy
Hong Kong Restaurant
S&S Cleaning Services
Spring Garden Street & North 38th Street
Spring Chinese Restaurant
Bart’s Bagels
New Angle Lounge
The Ellen Powell Tiberino Memorial Museum
39th & Lancaster Ave
liliglow
Lancaster Hoagie City
TheSilk Tent
Hair Thang
Edible Arrangements
Bodyrock Bootcamp & Executive Training Gym
Prayer and Safe Temple Cafe
Crown Fried Chicken
Chic Afrique
Dattilo's
Lipkin's Bakery
Wawa
Rite Aid
Aldi's
Ritz Diner
Tuscany Ristorante
The Rhawnhurst
Nicole Dominican Beauty Salon 2
Flames House
New Garden
Windows & Doors Unlimited
Yum Yum Cafe and Catering
Burholme Driving Range
Bustleton Avenue & Rhawn Street
Ruch & Shipon, P.C.
Bralow’s Fresh Fish & Seafood
Philip Yun - State Farm Insurance Agent
Gina Vito and Sons
Di Bruno's Pizza
MB Financial Bank
New Supreme Pizza
AMDS Pure Care
Stanwood Pharmacy
Body Relax
The River Wards Cafe
Byrne's Tavern
Donna's Bar
Primo Hoagies
Krakus Polish Market
Wawa
APlus At Sunoco
Interstate 95 at Exit 25
Appliance & TV Discounters
Marx Medical Equipment
The Stadium.
Monkiewicz Park - Power 99 Parks & Rec
Westway Terminals
Syrenka Luncheonette
Unidentified Mural
Sitarz Andrzej
Rick Heating & Cooling Philadelphia
Syrenka Luncheonette
Tweed Video Productions
The Cove
Breathing Room
No. 1 Cafe
The Pizza Store
Patriot Rolling Gates
Marinucci's Deli
Gorgas Park
Wawa
CVS pharmacy
Redbox
Daiva's Diner
mudflats baseball field
Roman's Pizza
Lucky Garden
Fountain Street Auto
Van Buskirk, Michael
Parks On Tap - Gorgas Park
Gorgas Park 21st Ward War Memorial
J Davis Printing
Cohen Philadelphia Plumbing & Heating Company
Roxborough Track
Roxborough High School Football Field
Gorgas Park Tennis Courts
the peapott room at the castle
Bento Sushi
Murphy Roofing
Ridge Diner
Cricket Wireless
Three Spheres
County Classifieds
The Naked Peach
Thai Kuu
McNally's Tavern
Chestnut Hill Coffee Co.
Primo Hoagies
Tavern on the Hill
Hideaway Music
Cosimo's Pizza Cafe
Starbucks
Stella Sera
Mica
TD Bank
Citizens Bank
Wells Fargo
Greene Street Consignment
Expressly Vegetarian Cafe
Top Of The Hill Plaza
The Bone Appetite
Edward Jones - Financial Advisor: Monaye C Nelson
Bugay's Jewelers
Bohemian Pink
TradeWinds B.Y.O.B
Breakfast Boutique Chestnut Hill
Chestnut Hill Loop
Spa Elysium | Fringe Salon & Apothecary
Chestnut Hill Sports Inc
Seorabol Korean Restaurant
Kim's Restaurant
CVS pharmacy
Papa Nick's Pizza
Rita's Italian Ice & Frozen Custard
JR Mini Mart
Champlost Street & North 2nd Street
Generations
Olney Art Exchange
Pure Water2Go
Gonzalez Grocery
Danas Pizza
Marijang Sung Resturant
Bravo's Pizza Seafood House
Pizza Bona
Young's Restaurant
Eric Hua
Sparks Street & North 2nd Street
D&L Food Market
소문난 국밥
Save More Food Market
홍식당
Deja Vu
Ganaan Restaurant
Hot Wok
Sahara Enterprise Inc.
Crowley Foods
Flyers Skate Zone
Lunch Walks
A-Plus Garage Door Doctor
Palmer Playground
Barclay Caterers
Gear Zone
The Fly Grille
Morrell Park Locksmith
McDonald Uniforms
Prebellli Industries
Penn Emblem Company
Movies Unlimited
Jerry's Curb Service
Title Unknown (metal sculpture)
Sahara Enterprise Inc.
Crowley Foods
Flyers Skate Zone
Lunch Walks
A-Plus Garage Door Doctor
Palmer Playground
Barclay Caterers
Gear Zone
The Fly Grille
Morrell Park Locksmith
McDonald Uniforms
Prebellli Industries
Penn Emblem Company
Movies Unlimited
Jerry's Curb Service
Title Unknown (metal sculpture)

In [267]:
#Saving the ouput to a csv yet again to prevent the need to resubmit the premium calls
venueDetails_philadelphia.to_csv("philly_venueDets.csv", index=False)

In [276]:
#Read the information back into a dataframe to be merged which the borough dataframe.
philadelphia_vendets = pd.read_csv("philly_venueDets.csv")
philadelphia_vendets

,Venue,like_counts,rating,photo_count,reasons_count,tips_count
0,Dilworth Park,311,9.1,668,1,23
1,Philadelphia Film Center,88,8.9,177,1,20
2,City Hall Courtyard,58,8.9,214,1,3
3,Del Frisco's Double Eagle Steak House,275,8.8,309,1,85
4,"The Ritz-Carlton, Philadelphia",199,8.8,599,1,63
5,JFK Plaza / Love Park,605,8.8,2243,1,134
6,La Colombe Coffee Roasters,398,8.6,380,1,97
7,sweetgreen,16,8.6,9,0,1
8,Rothman Institute Ice Rink at Dilworth Park,21,8.5,50,0,4
9,The Wanamaker Organ,39,8.8,74,1,8
10,One Liberty Observation Deck,78,8.9,221,1,8
11,Oyster House,316,9.0,395,1,110
12,The Capital Grille,130,8.5,144,1,46
13,UNIQLO,136,8.6,64,1,10
14,Fogo De Chão,336,8.8,305,1,98
15,Mission Taqueria,98,8.7,116,1,26
16,HipCityVeg,26,8.7,22,0,6
17,Five Below,37,8.2,32,1,5
18,R2L,144,8.2,355,1,74
19,Snap Custom Pizza,44,8.4,32,1,9
20,Blick Art Materials,40,8.6,56,1,9
21,Bikram Yoga of Philadelphia,32,8.4,1,1,6
22,Anthony's O2 Skincare Lounge,10,8.6,16,0,12
23,Insomnia Cookies,131,8.5,118,1,26
24,City Hall Tower,34,8.0,291,1,10
25,Osteria,140,8.8,150,1,79
26,Santucci's Original Square Pizza,19,8.6,20,0,3
27,South Restaurant,56,8.3,57,1,19
28,Jimmy G's Steaks,57,8.3,41,1,20
29,Stockyard,23,8.9,10,0,10
30,John's Place,13,8.6,4,0,10
31,Prohibition Tap Room,216,8.2,252,1,85
32,Cafe Lift,196,8.6,236,1,91
33,performance garage,12,7.4,19,0,2
34,The Institute Bar,95,7.5,297,1,40
35,Retro Fitness - Spring Garden,5,7.5,1,0,0
36,Kelliann's Bar & Grill,26,7.3,60,0,12
37,Brandywine Pizza,10,6.8,3,0,8
38,Lorraine,8,7.5,4,0,1
39,City View Pizza,21,7.1,20,0,24
40,Sals Seafood,10,6.9,10,0,10
41,Divine Lorraine Hotel,18,7.0,103,0,4
42,Cvs,0,6.7,0,0,0
43,Retro Fitness,2,6.9,1,0,1
44,SUBWAY,2,6.5,2,0,1
45,Sakura Japanese Cuisine,5,6.6,18,0,7
46,Thirsty Dice,7,6.9,5,0,4
47,Anytime Fitness,0,6.9,1,0,0
48,Johnnie Bleu,7,6.7,14,0,2
49,Saint Stephen's Green,55,6.3,69,1,41
50,Dunkin',7,7.8,0,0,1
51,Penrose Diner,203,8.0,48,1,76
52,Popi's Restaurant,45,7.5,27,1,21
53,Subway,0,6.6,0,0,0
54,APlus at Sunoco,28,6.3,11,0,6
55,Peking Inn,4,6.1,3,0,4
56,Packer Park Locksmith,0,Null,0,0,0
57,Kasumi Sushi,0,Null,0,0,0
58,Martial Arts Hero Factory,0,Null,6,0,0
59,Girard & Belmont Truck Stop Premium Food,2,Null,3,0,0
60,Catch Fitness Center,0,Null,1,0,0
61,Pattison Avenue & Reserve Drive,0,Null,0,0,0
62,Minuteman Press,0,Null,3,0,0
63,VWC Nails,3,Null,1,0,3
64,Cambridge Sound Studio,1,Null,1,0,0
65,Pattison Avenue & Penrose Avenue,2,Null,1,0,1
66,Pattison Avenue & South 20th Street,0,Null,0,0,0
67,Penrose Hotel Philadelphia,2,4.5,3,0,5
68,Dunkin',15,6.3,6,0,4
69,7-Eleven,2,6.2,26,0,1
70,Fahey Roofing Siding Doors & Windows Inc,0,Null,50,0,0
71,Kerrigan Automotive,1,Null,0,0,0
72,The Fresh Works of Holme Circle,2,Null,3,0,0
73,Ashton Road Automotive Inc,0,Null,0,0,0
74,Cerruti's Deli,0,Null,1,0,1
75,Jerry Gregory - State Farm Insurance Agent,0,Null,0,0,0
76,Jerry Gregory - State Farm Insurance Agent,0,Null,0,0,0
77,"Calamari Grill, Catering By Tony",1,Null,0,0,0
78,Holme Style Pizza,0,Null,0,0,0
79,Hemingway's Tavern,1,Null,1,0,1
80,Holme Circle Flower Shop,0,Null,1,0,1
81,The Freshworks Holme Avenue,0,Null,0,0,0
82,Rita's Italian Ice & Frozen Custard,4,Null,1,0,0
83,Loosen Up!,0,Null,0,0,0
84,Taqueria Del Norte,2,Null,6,0,0
85,North East Wellness Connection,1,Null,1,0,0
86,Quality Taste Jamaican Restaurant,23,8.6,3,0,4
87,Redcap's Corner,16,8.0,15,0,5
88,FRESH DONUTS,4,6.9,1,0,8
89,Jollie's West,13,7.3,14,0,2
90,Golden Tea House,8,7.3,11,0,1
91,Family Dollar,0,6.5,0,0,0
92,Cricket Wireless Authorized Retailer,0,6.4,0,0,0
93,Balance of Life Massage Therapy,0,Null,0,0,0
94,Hong Kong Restaurant,0,Null,0,0,0
95,S&S Cleaning Services,0,Null,0,0,0
96,Spring Garden Street & North 38th Street,0,Null,0,0,0
97,Spring Chinese Restaurant,8,5.9,4,0,7
98,Bart’s Bagels,0,Null,0,0,0
99,New Angle Lounge,1,Null,5,0,1
100,The Ellen Powell Tiberino Memorial Museum,1,Null,12,0,1
101,39th & Lancaster Ave,0,Null,0,0,0
102,liliglow,1,Null,7,0,0
103,Lancaster Hoagie City,0,Null,0,0,0
104,TheSilk Tent,0,Null,0,0,0
105,Hair Thang,0,Null,0,0,1
106,Edible Arrangements,0,Null,0,0,0
107,Bodyrock Bootcamp & Executive Training Gym,1,Null,1,0,1
108,Prayer and Safe Temple Cafe,0,Null,0,0,0
109,Crown Fried Chicken,0,Null,0,0,0
110,Chic Afrique,0,Null,1,0,0
111,Dattilo's,23,8.5,4,0,8
112,Lipkin's Bakery,17,8.0,17,0,4
113,Wawa,5,7.9,6,0,1
114,Rite Aid,5,7.4,4,0,0
115,Aldi's,16,7.3,7,0,2
116,Ritz Diner,6,6.7,5,0,8
117,Tuscany Ristorante,10,6.6,18,0,5
118,The Rhawnhurst,3,6.6,6,0,6
119,Nicole Dominican Beauty Salon 2,0,Null,0,0,0
120,Flames House,0,Null,3,0,1
121,New Garden,0,Null,0,0,0
122,Windows & Doors Unlimited,0,Null,1,0,0
123,Yum Yum Cafe and Catering,0,Null,0,0,0
124,Burholme Driving Range,0,Null,2,0,0
125,Bustleton Avenue & Rhawn Street,0,Null,0,0,0
126,"Ruch & Shipon, P.C.",0,Null,0,0,0
127,Bralow’s Fresh Fish & Seafood,1,Null,1,0,0
128,Philip Yun - State Farm Insurance Agent,0,Null,0,0,0
129,Gina Vito and Sons,0,Null,0,0,0
130,Di Bruno's Pizza,1,Null,1,0,1
131,MB Financial Bank,0,Null,0,0,1
132,New Supreme Pizza,0,Null,0,0,0
133,AMDS Pure Care,0,Null,1,0,0
134,Stanwood Pharmacy,0,Null,0,0,0
135,Body Relax,0,Null,0,0,0
136,The River Wards Cafe,15,8.7,14,0,6
137,Byrne's Tavern,51,8.6,45,1,21
138,Donna's Bar,8,7.5,16,0,1
139,Primo Hoagies,12,8.0,8,0,3
140,Krakus Polish Market,15,7.1,7,0,5
141,Wawa,42,6.9,18,1,10
142,APlus At Sunoco,4,6.0,2,0,4
143,Interstate 95 at Exit 25,0,Null,3,0,0
144,Appliance & TV Discounters,0,Null,0,0,0
145,Marx Medical Equipment,0,Null,0,0,0
146,The Stadium.,0,Null,1,0,0
147,Monkiewicz Park - Power 99 Parks & Rec,0,Null,2,0,0
148,Westway Terminals,0,Null,1,0,0
149,Syrenka Luncheonette,5,Null,7,0,2
150,Unidentified Mural,0,Null,0,0,0
151,Sitarz Andrzej,0,Null,0,0,0
152,Rick Heating & Cooling Philadelphia,0,Null,0,0,0
153,Syrenka Luncheonette,0,Null,0,0,1
154,Tweed Video Productions,0,Null,0,0,1
155,The Cove,1,Null,1,0,1
156,Breathing Room,2,Null,1,0,1
157,No. 1 Cafe,0,Null,0,0,1
158,The Pizza Store,1,Null,0,0,3
159,Patriot Rolling Gates,0,Null,0,0,0
160,Marinucci's Deli,0,Null,0,0,0
161,Gorgas Park,16,7.9,47,0,3
162,Wawa,93,7.8,27,1,16
163,CVS pharmacy,13,7.1,4,0,2
164,Redbox,0,6.6,0,0,0
165,Daiva's Diner,7,6.1,5,0,12
166,mudflats baseball field,0,Null,0,0,0
167,Roman's Pizza,1,Null,0,0,1
168,Lucky Garden,1,Null,0,0,1
169,Fountain Street Auto,3,Null,0,0,1
170,"Van Buskirk, Michael",0,Null,0,0,0
171,Parks On Tap - Gorgas Park,0,Null,1,0,0
172,Gorgas Park 21st Ward War Memorial,1,Null,2,0,2
173,J Davis Printing,0,Null,0,0,1
174,Cohen Philadelphia Plumbing & Heating Company,0,Null,0,0,0
175,Roxborough Track,4,Null,5,0,0
176,Roxborough High School Football Field,1,Null,0,0,0
177,Gorgas Park Tennis Courts,0,Null,0,0,1
178,the peapott room at the castle,0,Null,1,0,0
179,Bento Sushi,0,Null,0,0,0
180,Murphy Roofing,0,Null,2,0,0
181,Ridge Diner,0,Null,0,0,3
182,Cricket Wireless,0,Null,0,0,0
183,Three Spheres,0,Null,0,0,0
184,County Classifieds,0,Null,0,0,0
185,The Naked Peach,1,Null,0,0,0
186,Thai Kuu,24,8.9,30,0,12
187,McNally's Tavern,63,8.4,99,1,39
188,Chestnut Hill Coffee Co.,115,8.6,104,1,54
189,Primo Hoagies,16,7.9,9,0,5
190,Tavern on the Hill,35,7.7,18,1,21
191,Hideaway Music,8,7.8,7,0,4
192,Cosimo's Pizza Cafe,17,7.3,14,0,17
193,Starbucks,77,7.6,133,1,21
194,Stella Sera,5,6.9,6,0,3
195,Mica,5,7.1,14,0,8
196,TD Bank,3,6.7,0,0,1
197,Citizens Bank,0,6.4,5,0,1
198,Wells Fargo,0,6.5,1,0,1
199,Greene Street Consignment,5,6.4,3,0,2
200,Expressly Vegetarian Cafe,0,Null,0,0,0
201,Top Of The Hill Plaza,0,Null,2,0,0
202,The Bone Appetite,3,5.9,10,0,3
203,Edward Jones - Financial Advisor: Monaye C Nelson,0,Null,2,0,0
204,Bugay's Jewelers,0,Null,0,0,0
205,Bohemian Pink,0,Null,0,0,0
206,TradeWinds B.Y.O.B,1,Null,0,0,0
207,Breakfast Boutique Chestnut Hill,3,Null,4,0,2
208,Chestnut Hill Loop,4,Null,8,0,3
209,Spa Elysium | Fringe Salon & Apothecary,5,Null,16,0,1
210,Chestnut Hill Sports Inc,1,Null,0,0,0
211,Seorabol Korean Restaurant,57,7.9,71,1,12
212,Kim's Restaurant,15,8.2,22,0,3
213,CVS pharmacy,0,6.5,0,0,0
214,Papa Nick's Pizza,7,6.8,5,0,6
215,Rita's Italian Ice & Frozen Custard,3,Null,4,0,2
216,JR Mini Mart,1,Null,1,0,0
217,Champlost Street & North 2nd Street,1,Null,4,0,0
218,Generations,0,Null,0,0,0
219,Olney Art Exchange,0,Null,0,0,0
220,Pure Water2Go,0,Null,0,0,0
221,Gonzalez Grocery,0,Null,0,0,2
222,Danas Pizza,1,Null,0,0,1
223,Marijang Sung Resturant,0,Null,0,0,0
224,Bravo's Pizza Seafood House,0,Null,0,0,0
225,Pizza Bona,0,Null,0,0,0
226,Young's Restaurant,0,Null,0,0,0
227,Eric Hua,0,Null,0,0,0
228,Sparks Street & North 2nd Street,0,Null,0,0,0
229,D&L Food Market,0,Null,0,0,0
230,소문난 국밥,0,Null,0,0,0
231,Save More Food Market,0,Null,1,0,0
232,홍식당,0,Null,0,0,0
233,Deja Vu,3,Null,0,0,3
234,Ganaan Restaurant,0,Null,0,0,0
235,Hot Wok,0,Null,1,0,1
236,Sahara Enterprise Inc.,0,Null,0,0,0
237,Crowley Foods,0,Null,0,0,0
238,Flyers Skate Zone,17,5.6,21,0,6
239,Lunch Walks,0,Null,0,0,0
240,A-Plus Garage Door Doctor,0,Null,0,0,0
241,Palmer Playground,2,Null,1,0,1
242,Barclay Caterers,0,Null,0,0,0
243,Gear Zone,0,Null,0,0,0
244,The Fly Grille,0,Null,0,0,0
245,Morrell Park Locksmith,0,Null,0,0,1
246,McDonald Uniforms,2,Null,1,0,0
247,Prebellli Industries,0,Null,0,0,0
248,Penn Emblem Company,0,Null,0,0,0
249,Movies Unlimited,0,Null,0,0,0
250,Jerry's Curb Service,0,Null,0,0,0
251,Title Unknown (metal sculpture),0,Null,0,0,0
252,Sahara Enterprise Inc.,0,Null,0,0,0
253,Crowley Foods,0,Null,0,0,0
254,Flyers Skate Zone,17,5.6,21,0,6
255,Lunch Walks,0,Null,0,0,0
256,A-Plus Garage Door Doctor,0,Null,0,0,0
257,Palmer Playground,2,Null,1,0,1
258,Barclay Caterers,0,Null,0,0,0
259,Gear Zone,0,Null,0,0,0
260,The Fly Grille,0,Null,0,0,0
261,Morrell Park Locksmith,0,Null,0,0,1
262,McDonald Uniforms,2,Null,1,0,0
263,Prebellli Industries,0,Null,0,0,0
264,Penn Emblem Company,0,Null,0,0,0
265,Movies Unlimited,0,Null,0,0,0
266,Jerry's Curb Service,0,Null,0,0,0
267,Title Unknown (metal sculpture),0,Null,0,0,0

## Final Clean up

In [278]:
#Here we run an inner merge which will remove any venue where the 'rating' resulted in 'Null'
#This gives us our final output that we can be to run tests on.
mergedP = pDataVen.merge(philadelphia_vendets, how = 'inner', on = ['Venue'])
mergedT = tDataVen.merge(toronto_vendets, how = 'inner', on = ['Venue'])

## Let's have a look at each of the final dataframes that we will be using for our data analysis stage

In [287]:
#First, let's observe the results of our merged data set for toronto and save a csv
mergedT.to_csv('toronto_final.csv', index=False)
print(mergedT.shape)
mergedT.head()

(212, 14)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue ID,Distance,Venue Latitude,Venue Longitude,Venue Category,like_counts,rating,photo_count,reasons_count,tips_count
0,North York,43.76826,-79.41263,The Keg,5a35b4443abcaf37eb1a0d88,191,43.766579,-79.412131,Steakhouse,25,8.5,7,0,3
1,North York,43.76826,-79.41263,Konjiki Ramen,5a02789d0a464d3112a58785,144,43.766998,-79.412222,Ramen Restaurant,39,8.3,68,1,8
2,North York,43.76826,-79.41263,Toronto Centre for the Arts,4ad4c062f964a520c3f720e3,255,43.766228,-79.414115,Theater,46,8.1,145,1,13
3,North York,43.76826,-79.41263,Loblaws,4ae257cff964a520758d21e3,66,43.768722,-79.412101,Grocery Store,90,7.8,94,1,13
4,North York,43.76826,-79.41263,Satay Sate,57f92db0498ee70159702002,179,43.766690,-79.412100,Indonesian Restaurant,8,7.8,4,0,4

In [288]:
#Finally, let's observe the results of our merged data set for philadelphia and save a csv
mergedP.to_csv('philadelphia_final.csv', index=False)
print(mergedP.shape)
mergedP.head()

(318, 14)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue ID,Distance,Venue Latitude,Venue Longitude,Venue Category,like_counts,rating,photo_count,reasons_count,tips_count
0,Center City,39.952543,-75.165219,Dilworth Park,4bde0d566198c9b6c5cc12ff,49,39.952772,-75.164723,Park,311,9.1,668,1,23
1,Center City,39.952543,-75.165219,Philadelphia Film Center,47bdd66df964a520da4d1fe3,195,39.950835,-75.164683,Movie Theater,88,8.9,177,1,20
2,Center City,39.952543,-75.165219,City Hall Courtyard,4f29e8e3e4b02f0aff55b2a7,138,39.952484,-75.163592,Plaza,58,8.9,214,1,3
3,Center City,39.952543,-75.165219,Del Frisco's Double Eagle Steak House,4ab2ac0bf964a520d66b20e3,177,39.950956,-75.165459,Steakhouse,275,8.8,309,1,85
4,Center City,39.952543,-75.165219,"The Ritz-Carlton, Philadelphia",4a68db6ff964a52023cb1fe3,152,39.951446,-75.164149,Hotel,199,8.8,599,1,63

## 2.3 Data Limitations
Currently, the two limiting factors in a more robust data set is the fact that we have to limit the API calls for premium data, as a foursquare personal account restricts the premium call daily limit to 500. Thus, we look at the boroughs overall and only the top 25 venues in each borough. We are also limited by the amount of available data provided by foursquare at each of these venues, as they can be missing important information pertaining to our regression analyses. As such, this is more a modeling of what is possible with our the queriable data and could be expanded upon when limitations are lifted.

## 2.4 How the Data Will Be Utilized

Initially, an overall frequency table will be generated with percentages to distinguish the two important characteristics. First how many neighborhoods make up each borough and the overall percentage that borough contributes to the cities total neighborhood count.  We can utilize this to understand if there are any significant differences between our cities.

The information extraction from Foursquare’s premium calls will allow us to utilize the information on user likes, tips, photo counts, rating and distance to see if there are any correlations that exist between these variables. 

We will use the data to obtain information regarding the top 25 venue categories in each borough to observe the frequency distribution of what venue categories the borough is lacking. This will provide insight to potential new areas to recommend business start-ups looking to create new venues or add to a low category. We will utilize those that are one or less for our dataset. 

Finally, we can utilize a k-means algorithm to cluster and segment our venues based on tips, photo counts, ratings, user likes and even distance. This can greatly enhance the user experience when selecting venues.

In [286]:
mergedP.to_clipboard(sep=',')